name: Movie DB Code Quality CI
on:
  pull_request:

jobs:
  analyze_and_test:
    name: Android analyze and tests
    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: "11.0"

    steps:
      - name: Get Repository
        uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}

      - name: Change Wrapper Permissions
        run: chmod +x ./gradlew

      - name: Build Project
        run: ./gradlew assemble

      - name: Run Kotlin Linter
        run: ./gradlew ktlintCheck

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Run Format Code
        run: ./gradlew ktlintFormat
